body
{
  background-image: url('https://www.google.com/search?sca_esv=6f4cffb8fcc6cffb&rlz=1C1GCEU_enIN1160IN1160&sxsrf=AHTn8zqguBqpsSc145Ui_BcXCefuslRemg:
    1746538105830&q=background+decent+images&udm=2&fbs=ABzOT_CWdhQLP1FcmU5B0fn3xuWpA-dk4wpBWOGsoR7DG5zJBtmuEdhfywyzhendkLDnhcq4Fx59GJo42IHin57PCNq1BCLf
    VKQIWPymDGFj2PR-DSz9AKdvScPNG1zf5KhAmiXA2AihCAO4o-7j1F8q-hjKxPAAHZun3MN3MT8s6xwh-G2N4jwUKA426uqWUvtCstjt-MshT_MrRx1l7bLbMoTh5ehWSQ&sa=X&ved=2ahUKEwj8zY
    m7-Y6NAxW6ma8BHRWXJIIQtKgLegQIEBAB&biw=1536&bih=730&dpr=1.25#imgrc=hrXgsIvLDYHhTM&imgdii=MdpMe7PmVYuazM'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
  color: #fff;
  font-family: Arial,Sans-Serif;
}
nav{
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
nav a{
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
.error{
  color: red;
}
.card{
  border: 2px solid;
  padding: 1rem;
  margin:1rem;
  border-radius: 5px;
}
